/*CSS DOCUMENT*/

div.container {
    diplay: grid;
    }

header {
    background: #888888;
}

article {
    background: #aaaaaa;
}

aside {
    background: #cccccc;
}

footer {
    background: #eeeeee;
}

