/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
    color: #fafafa;
    padding: 1rem;
    background-color: #1e1e1e; 
    line-height: 140%;
    font-family: alfarn-2, sans-serif;
    font-weight: 500;
    font-style: normal;
} 

img {
	width: 100%;
	display: block;
  
}


p {
    margin-bottom: 1em;
    margin-left: 3em;
    padding-right: 2em;
}


header {
   color: #fafafa;
    font-size: 1.5em;
    padding: 0em 2em 0em 2em;
    font-family: alfarn, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    
    
}

h2 {
    color: #fafafa;
    font-size: 2rem;
    padding: 1rem 2rem 0.5rem 3rem;
	font-family: alfarn, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.8rem;
}

h3 {
    color: #fafafa;
    font-size: 1.3rem;
    padding: 1rem 2rem 0rem 0;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: alfarn-2, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    border-top: 1px solid #FFC0CB;
}

h4 {
    color: #fafafa;
    font-size: 1rem;
    padding: 0rem 2rem 0rem 3rem;
    font-family: alfarn-2, sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
p.description {
	font-style:italic;
}

p.price {
	color: #FFC0CB;
}

nav ul li {
    display: inline;
    list-style-type: none;
    letter-spacing: 0.09em;
    margin-right: 1em;
    
}

nav ul li a {
    color: #FFC0CB;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fafafa;
}

ul li {
    list-style-type: none;

}

figure {
    margin-left: 3em;
    margin-right: 3em;

}

figure.menu {
    margin-bottom: 1em;
    margin-left: 3em;
}

@media only screen and (min-width: 60em) {
h1{
    width: 60%;
}



main.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0em;
    padding: 1em 4em 0em 0em;
}

main.home {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1em;
    padding: 1em 2em 0em 0em;

}

main.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
}

main.menu h2 {
    grid-column: 1/4;;
}


main.location {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 4em;
    padding: 1em 0em;
}


