/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; display: block;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
}


body {
    padding: 0em;
    background-color: rgb(250, 250, 250);
    line-height: 240%; 
}

header {
    background-color: rgb(240, 141, 52);
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    color: rgb(250, 250, 250);
    padding: 2rem 2rem 2rem;
}
 
 
 h2 {
    font-family: sutro, serif;
    font-weight: 300; 
    font-style: normal;
    color: rgb(249, 221, 191);
    background: rgb(239, 142, 52);
    padding: .3rem 2rem 1.3rem 1rem;
    font-size: 1.5em;
 }
 
 
 
 h3 {
    font-family: sutro;
    font-weight: 300; 
    font-style: normal;
    color: rgb(239,142,52);
    text-transform: uppercase;
    padding: 0rem 2rem 0rem;
    font-size: 1.3em;
 }
 
 
 
 figcaption {
    font-family: poppins, sans-serif; 
    font-weight: 400; 
    font-style: italic;
    padding: 1rem 2rem 2rem;
 }
 
 
 
 ul {
    font-family: poppins, sans-serif; 
    font-weight: 400; 
    font-style: normal;
    margin: 1.2rem 2rem;
 }
 
 
 
 ol {
    font-family: poppins, sans-serif; 
    font-weight: 400; 
    font-style: normal;
    padding: 1.5rem 2rem;
 }
 
 
 
 li {
   
    display: list-item;
    line-height: 1.5rem;
    padding: 0rem 0rem 1rem;
 }
 
 
 
 footer {
    font-family: poppins, sans-serif; 
    font-weight: 400; 
    font-style: normal;
    color: rgb(255, 255, 255);
    background-color: rgb(239, 142, 52);
    padding: 1rem 0rem 1rem 2rem;
 }
 
 


/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
